# 이 파일을 복사해서 .env로 이름을 바꾸고 값을 채워주세요.
# MySQL 설정
MYSQL_ROOT_PASSWORD=root_password_here
MYSQL_DATABASE=my_app_db
MYSQL_USER=db_user
MYSQL_PASSWORD=user_password_here
MYSQL_URL=db_url_here
MYSQL_PORT=db_port_here

# Redis 설정
REDIS_HOST=redis_host_here
REDIS_PASSWORD=redis_password_here
REDIS_PORT=redis_port_here

# Spring 서버 설정
SERVER_PORT=spring_server_port_here

# 모니터링 설정
PROMETHEUS_PORT=prometheus_port_here
LOKI_PORT=loki_port_here
GRAFANA_PORT=grafana_port_here
GRAFANA_USER=grafana_user_here
GRAFANA_PASSWORD=grafana_password_here
GRAFANA_DOMAIN=grafana_domain_here
GRAFANA_ALLOWED_ORIGINS=grafana_cors

# Minio 설정
MINIO_API_PORT=minio_api_port
MINIO_CONSOLE_PORT=minio_console_port
MINIO_ENDPOINT=minio_endpoint_here
MINIO_ACCESS_KEY=minio_id_here
MINIO_SECRET_KEY=minio_pwd_here
MINIO_BUCKET=minio_bucket_here
APP_STORAGE_URL=storage_url_here
MINIO_BROWSER_REDIRECT_URL=minio_dashboard_url

# JWT 설정
JWT_SECRET=
# Access Token: 30분 (1800000 ms)
JWT_ACCESS_EXPIRATION=
# Refresh Token: 7일 (604800000 ms)
JWT_REFRESH_EXPIRATION=